* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262c27;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header_top {
  display: flex;
  align-items: center;
  padding: 57px 0;
  gap: 100px;
  justify-content: flex-end;
}

.logo path {
  transition: fill .3s ease;
}

.logo:hover path{
  fill: #0093A1;
}

.header_btn {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 28px;
  line-height: 22px;
  padding: 12px 71px;
  background-color: #262c27;
  border: none;
  cursor: pointer;
}